{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^\\$lib/(.*)$",
    "^\\.\\./(.*)",
    "^\\./(.*)"
  ],
  "importOrderTypeScriptVersion": "5.0.0",
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "tailwindFunctions": ["clsx", "cn", "tv"]
}
